    <footer class="footer">
        <div style="margin:0 auto;margin-top:8px;margin-bottom:8px;"> 
		  	<div style="float:left;width:100%">
		  		<div style="color:#fff;width:100%;text-align:center;font-size:13px;margin:4px 0px;">
		  			Copyright © 2018 {$sys.companyname}. All Rights Reserved.
		  		</div>
		  		<div style="color:#fff;width:100%;text-align:center;font-size:13px;margin:4px 0px;">
		  			<a href="http://www.miitbeian.gov.cn" style="color: #eee;" target="_blank">{$sys.icp}</a>
		  		</div>
		  		<div style="color:#fff;width:100%;text-align:center;font-size:13px;margin:4px 0px;">
		  			电话：{$sys.tel}
		  		</div>
		  	</div>	
	  	</div>
    </footer>