<header class="header fixed clearfix">
    <div class="container">
        <div class="row">

            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-12">
                <div class="header-left clearfix">
                    <div class="logo">
                        
                    </div>

                </div>
            </div>

            <div class="col-md-1 col-lg-2 col-sm-1 col-xs-12"></div>

            <div class="col-md-10 col-lg-9 col-sm-10 col-xs-12">
                <nav class="navbar  navbar-default mg-b" role="navigation">

                    <div class="navbar-header">
                        <div class="logo yindiaol">
                            <a href="javascript:;" title="Home" class="left-f">
                                <div style="line-height: 50px;font-size: 18px;">{$sys.webname}</div>
                            </a>
                            <a href="javascript:;" class="menubtn right-f">menu</a>
                        </div>

                        <div id="pgcontainer">
                            <div class="mb-nav-fll">
                                <div id="navbar">                         
                                  
                                    <div id="hamburgermenu">
                                        <div class="xiaologo" style="margin: 0 auto;text-align: center;line-height: 50px;font-size: 20px;margin: 5%;">{$sys.webname}</div>
                                        <ul>
                                            <li class="nav_home"><a href="__APP__">首页</a></li>
                                            <li class="nav_service"><a href="{:U('Index/intro')}">公司简介</a></li>
                                            <li class="nav_product"><a href="{:U('Index/exp')}">真实案例</a></li>
                                            <li class="nav_customer"><a href="{:U('News/index')}">新闻资讯</a></li>
                                            <li class="nav_about"><a href="{:U('Index/contact')}">联系我们</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>

                    <div class="collapse navbar-collapse" id="example-navbar-collapse">
                        <ul class="nav navbar-nav navbar-right nav-center">
                            <li class="nav_home"><a href="__APP__">首页</a></li>
                            <li class="nav_service"><a href="{:U('Index/intro')}">公司简介</a></li>
                            <li class="nav_product"><a href="{:U('Index/exp')}">真实案例</a></li>
                            <li class="nav_customer"><a href="{:U('News/index')}">新闻资讯</a></li>
                            <li class="nav_about"><a href="{:U('Index/contact')}">联系我们</a></li>
                        </ul>
                    </div>

                </nav>
            </div>

        </div>
    </div>
</header>