
<style>
    .footer a{
        color: rgba(255, 255, 255, 1);
    }
    .footer a:hover{
        color: #28a2fe;
    }
</style>
<div class="yxt-footer footer" style="background-color: rgb(45, 45, 45);color: rgba(255, 255, 255, 1);">
    <div class="c_container1200">
        <div class="sitebox clearfix">
            <ul class="site-sort-box pull-left" style="width: 70%;">
                <li>
                    <div class="site-title">服务范围</div>
                    <ul class="site-list">
                        <li><a href="{:U('Index/product')}" target="_self" >产品介绍</a></li>
                        <li><a href="{:U('Index/kf')}" target="_self">定制开发</a></li>
                        <li><a href="{:U('Index/about')}" target="_self">关于我们</a></li>
                    </ul>
                </li>
                <li style="width: 30%;margin-left:40%;">
                    <div class="site-title">{$sys.companyname}</div>
                    <ul class="site-list">
                        <li>地址：{$sys.address}</li>
                        <li>电话：{$sys.tel}</li>
                        <li>邮箱：{$sys.email}</li>
                    </ul>
                </li>
            </ul>
            
            <!--微信公众号 end-->
            <div class="contact text-right pull-right">
                <div style="float: left;width: 120px;">
                    
                        <div class="font-size-15" style="text-align: center;">联系我们</div>
                        <div style="margin:10px auto;width: 80px;">
                            <img src="__ROOT__{$sys.art_pic}" alt="" style="width: 100%">
                        </div>
                    
                </div>
                <div style="float: left;margin-left:20px;width: 120px;">
                    <div class="font-size-15" style="text-align: center;">移动端</div>
                    <div style="margin:10px auto;width: 80px;">
                        <img src="__ROOT__{$sys.lp_pic}" alt="" style="width: 100%">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="copyright clearfix font-size-12 text-color6">
        <div class="c_container1200">
            Copyright © 2020 All rights reserved {$sys.companyname} 版权所有 <a target="_blank" href="http://beian.miit.gov.cn" style="color: #000;">{$sys.icp}</a> 

        </div>
    </div>
</div>