<!DOCTYPE html>
<html>
<head>
    <title>{$sys.webtitle}</title>
    <meta name="Keywords" content="{$sys.keywords}" />
    <meta name="Description" content="{$sys.description}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <script src="__PUBLIC__/home/bootstrap/js/jquery.min.js"></script>
    <link href="__PUBLIC__/home/br/yxt.headerfooter.min.css?v=1.2.2.3" rel="stylesheet"/>
    <link href="__PUBLIC__/home/br/yxt.style.min.css?v=1.2.2.3" rel="stylesheet"/>
    <link href="__PUBLIC__/home/br/banner.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/br/br_style.css" />
    <link href="__PUBLIC__/home/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/home/br/banner.js"></script>
    <script src="__PUBLIC__/home/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>


<!--header-->
<div class="yxt-headerbox c_container1200 clearfix" id="headerbox">
    <a href="/" class="pull-left" style="font-weight:400; font-size:36px; color:rgb(56, 148, 255); font-style:normal; letter-spacing:0px; line-height:54px; text-decoration:none;">{$sys.webname}</a>
    <ul class="nav-list pull-right">
        <li class=""><a href="{:U('Index/index')}" title="">首页</a></li>
        <li class="active"><a href="{:U('Index/product')}" title="">产品介绍</a></li>
        <li class=""><a href="{:U('Index/kf')}" title="">定制开发</a></li>
        <li class=""><a href="{:U('Index/about')}" title="">关于我们</a></li>
        <li class="">{$sys.tel}</li>
        <li class="" style="">
            <a style="background: linear-gradient(-90deg,#36e4ff,#5bbdff);display: inline-block;" data-toggle="modal" data-target="#myModal" class="btn">免费试用</a>
        </li>
    </ul>

</div>
<!--header-->
<div class="gailan-first text-white" style="background-image: url(__PUBLIC__/home/br/1.png);height: 200px;">

</div>
<h1 class="" style="text-align: center;line-height: 50px;padding: 30px;">xxxxxxxxxxxxxx</h1>
<style>
    .product-content h2{
        padding-top: 30px;
    }
    .product-content .product-list-div{
        box-shadow:rgba(140, 140, 140, 0.4) 0px 0px 6px 0px;
        border-radius:5px;
        text-align: center;
        margin: 50px 80px;
    }
    .product-content .product-list{
        border:1px solid red;

    }
    .product-content .product-list-content{
        /*margin-top: 80px;*/
        font-weight:400;
        font-size:18px;
        color:rgb(174, 174, 174);
        font-style:normal;
        letter-spacing:0px;
        line-height:50px;
        text-decoration:none;
        padding-top:30px;
        padding-bottom: 30px;
    }
</style>
<div class="product-content container">
    <div class="row">

        <div class="col-xs-6 col-md-6 product-list" style="">
            <div class="product-list-div">
                <h2>xx版本</h2>
                <div class="product-list-content">
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>


                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 product-list" style="">
            <div class="product-list-div">
                <h2>xx版本</h2>
                <div class="product-list-content">
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 product-list" style="">
            <div class="product-list-div">
                <h2>xx版本</h2>
                <div class="product-list-content">
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>


                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-6 product-list" style="">
            <div class="product-list-div">
                <h2>xx版本</h2>
                <div class="product-list-content">
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 product-list" style="">
            <div class="product-list-div">
                <h2>xx版本</h2>
                <div class="product-list-content">
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 product-list" style="">
            <div class="product-list-div">
                <h2>xx版本</h2>
                <div class="product-list-content">
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                    xxxxxxxxx<br/>
                </div>
            </div>
        </div>

    </div>
</div>










<div class="yxt-footer footer ">
    <div class="c_container1200">
        <div class="sitebox clearfix">
            <ul class="site-sort-box pull-left">
                <li>
                    <div class="site-title">商务合作</div>
                    <ul class="site-list">
                        <li><a href="/coop/content" target="_self">内容合作</a></li>
                        <li><a href="/coop/teacher" target="_self">师资合作</a></li>
                        <li><a href="/coop/channel" target="_self">渠道合作</a></li>
                        <li><a href="/coop/market" target="_self">市场合作</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">关于我们</div>
                    <ul class="site-list">
                        <li><a href="/introduction" target="_self">公司简介</a></li>
                        <li><a href="/news" target="_self">新闻动态</a></li>
                        <li><a href="/joinus" target="_self">加入我们</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">服务支持</div>
                    <ul class="site-list">

                        <li><a href="/support/download" target="_self">下载中心</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">法律声明</div>
                    <ul class="site-list">
                        <li><a href="/declare/terms" target="_self">服务条款</a></li>
                        <li><a href="/declare/privacy" target="_self">隐私声明</a></li>
                        <li><a href="/declare/zscq" target="_self">知识产权维权</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">关注我们</div>
                    <ul class="site-list">
                        <li><a href="javascript:showWechatCode()" target="_self">微信公众号</a></li>
                        <li><a href="https://s.weibo.com/weibo/%25E4%25BA%2591%25E5%25AD%25A6%25E5%25A0%2582?topnav=1&wvr=6&b=1#_loginLayer_1550632103969" target="_blank">新浪微博</a></li>
                    </ul>
                </li>
            </ul>
            <!--微信公众号-->
            <div class="wechatcode-mask" id="wechatcodeMask" onclick="hideWechatCode()"></div>
            <div class="wechatcode" id="wechatcodeBox">
                <div class="wechat-title font-size-20 p15">云学堂官方微信 <i class="ico ico-grey-close pull-right hand" onclick="hideWechatCode()"></i></div>
                <div class="mt35 codebox">
                    <img src="https://picobd.yxt.com/orgs/yxt_malladmin/mvcpic/image/202004/9320c8fbb7574c058c5ffcefad9a255f.jpg" width="224" height="224" alt="" />
                </div>
            </div>
            <!--微信公众号 end-->
            <div class="contact text-right pr pull-right">
                <span class="font-size-35">400-928-6900</span><br>
                <span class="text-color9 font-size-12">江苏省苏州市高新区竹园路209号2号楼20层</span><br>
                <span class="text-color9 font-size-12">周一至周日9:00-18:00 （仅收市话费）</span><br>
                <span class="text-color9 font-size-12">投诉邮箱：service-support@yxt.com</span><br>
                <span class="btn btn-contact mt10 hand" onclick="OpenLeyu()">在线帮助</span>
            </div>
        </div>
    </div>
    <div class="copyright clearfix font-size-12 text-color6">
        <div class="c_container1200">
            Copyright © 2020 yxt.com All rights reserved 江苏云学堂网络科技有限公司 版权所有 <a target="_blank" href="http://www.beian.miit.gov.cn/publish/query/indexFirst.action">苏ICP备14034064号</a> <span style="color:#ddd">|</span> 增值电信业务经营许可证：苏B2-20180039

        </div>
    </div>
</div>









<include file="Index/modal"/>


<script src="__PUBLIC__/home/br/jQuery.CustomAnimation.js"></script>

<script src="__PUBLIC__/home/br/yxt.common.js"></script>


</body>
</html>