

<!DOCTYPE html>
<html>
<head>
    
    <title>{$sys.webtitle}</title>
    <meta name="Keywords" content="{$sys.keywords}" />
    <meta name="Description" content="{$sys.description}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />  
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>  
    <link href="__PUBLIC__/home/br/swiper.min.css?v=1.2.2.3" rel="stylesheet"/>
    <link href="__PUBLIC__/home/br/yxt.headerfooter.min.css?v=1.2.2.3" rel="stylesheet"/>
    <link href="__PUBLIC__/home/br/yxt.style.min.css?v=1.2.2.3" rel="stylesheet"/>
    
</head>
<body>
    


<!--header-->
<div class="yxt-headerbox c_container1200 clearfix" id="headerbox">
    <a href="/" class="yxt-logo pull-left"></a>
    

<!-- <ul class="nav-aside pull-right">
        <li class="user"><a href="/user/login?isNeedRelogin=False&amp;returnUrl=http%253a%252f%252fwww.yxt.com%252flc"></a></li>
            </ul> -->
<div class="yxt-header-search" style="top:16px;">
    <div class="pr search-input record-animated"><span class="closeico" id="closeSearchBtn"></span> <input id="searchKeyWord" type="text" placeholder="搜索你感兴趣的内容" value="" /> <span class="searchico" id="searchico"></span></div>
    

</div>


    <ul class="nav-list pull-right">
        <li class="active"><a href="/newhome" title="">首页</a></li>
        <li class=""><a href="/index" title="">产品介绍</a></li>
        <li class=""><a href="/lc" title="">学习平台</a></li>
        <li class=""><a href="/xuanyes" title="">微课工具</a></li>
        <li class=""><a href="/zoom" title="">ZOOM视频会议</a></li>
        <li class=""><a href="/lj" title="">直播系统</a></li>
        <li class=""><a href="/es" title="">网校建设</a></li>
    </ul>    
</div>
<!--header-->



    
    


<div class="minor-meun zindex9" id="pro_header">
    <div class="c_container1200 pr">
        <h1 class="font-size-18 text-white pull-left font-normal logo-text">绚星企业大学</h1>
        <h1 class="logo-img logo-lc pull-left"></h1>
        <div class="nav-list-container pull-left">
            <ul class="nav-list nav-lecai clearfix">
                <li class="active"><a href="/lc" target="_self">概览</a></li>
                <li class=""><a href="/lc/scene" target="_self">场景</a></li>
                <li class=""><a href="/lc/function" target="_self">功能</a></li>
                <li class=""><a href="/lc/case" target="_self">案例</a></li>
                <li class=""><a href="/lc/download" target="_self">下载</a></li>
                
            </ul>
        </div>
        <div class="nav-aside">
            <a href="javascript:" onclick="OpenLeyu('10057960')">在线咨询</a>
            <a href="/lc/register" class="btn btn-blue ml20" target="_blank">申请试用</a>
        </div>
    </div>
</div>

<div class="gailan-first text-white">
    <div class="c_container1200 pr">
        <div class="gailan-first-content">
            <div class="font-size-64">绚星企业大学</div>
            <div class="font-size-34 mb30 mt5 lh40">
                一家企业就是一所大学
            </div>
            
        </div>
    </div>
</div>









    
    
<div class="yxt-footer footer ">
    <div class="c_container1200">
        <div class="sitebox clearfix">
            <ul class="site-sort-box pull-left">
                <li>
                    <div class="site-title">商务合作</div>
                    <ul class="site-list">
                        <li><a href="/coop/content" target="_self">内容合作</a></li>
                        <li><a href="/coop/teacher" target="_self">师资合作</a></li>
                        <li><a href="/coop/channel" target="_self">渠道合作</a></li>
                        <li><a href="/coop/market" target="_self">市场合作</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">关于我们</div>
                    <ul class="site-list">
                        <li><a href="/introduction" target="_self">公司简介</a></li>
                        <li><a href="/news" target="_self">新闻动态</a></li>
                        <li><a href="/joinus" target="_self">加入我们</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">服务支持</div>
                    <ul class="site-list">
                        
                        <li><a href="/support/download" target="_self">下载中心</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">法律声明</div>
                    <ul class="site-list">
                        <li><a href="/declare/terms" target="_self">服务条款</a></li>
                        <li><a href="/declare/privacy" target="_self">隐私声明</a></li>
                        <li><a href="/declare/zscq" target="_self">知识产权维权</a></li>
                    </ul>
                </li>
                <li>
                    <div class="site-title">关注我们</div>
                    <ul class="site-list">
                        <li><a href="javascript:showWechatCode()" target="_self">微信公众号</a></li>
                        <li><a href="https://s.weibo.com/weibo/%25E4%25BA%2591%25E5%25AD%25A6%25E5%25A0%2582?topnav=1&wvr=6&b=1#_loginLayer_1550632103969" target="_blank">新浪微博</a></li>
                    </ul>
                </li>
            </ul>
            <!--微信公众号-->
            <div class="wechatcode-mask" id="wechatcodeMask" onclick="hideWechatCode()"></div>
            <div class="wechatcode" id="wechatcodeBox">
                <div class="wechat-title font-size-20 p15">云学堂官方微信 <i class="ico ico-grey-close pull-right hand" onclick="hideWechatCode()"></i></div>
                <div class="mt35 codebox">
                    <img src="https://picobd.yxt.com/orgs/yxt_malladmin/mvcpic/image/202004/9320c8fbb7574c058c5ffcefad9a255f.jpg" width="224" height="224" alt="" />
                </div>
            </div>
            <!--微信公众号 end-->
            <div class="contact text-right pr pull-right">
                <span class="font-size-35">400-928-6900</span><br>
                <span class="text-color9 font-size-12">江苏省苏州市高新区竹园路209号2号楼20层</span><br>
                <span class="text-color9 font-size-12">周一至周日9:00-18:00 （仅收市话费）</span><br>
                <span class="text-color9 font-size-12">投诉邮箱：service-support@yxt.com</span><br>
                <span class="btn btn-contact mt10 hand" onclick="OpenLeyu()">在线帮助</span>
            </div>
        </div>
    </div>
    <div class="copyright clearfix font-size-12 text-color6">
        <div class="c_container1200">
            Copyright © 2020 yxt.com All rights reserved 江苏云学堂网络科技有限公司 版权所有 <a target="_blank" href="http://www.beian.miit.gov.cn/publish/query/indexFirst.action">苏ICP备14034064号</a> <span style="color:#ddd">|</span> 增值电信业务经营许可证：苏B2-20180039

        </div>
    </div>
</div>


    









    <script src="__PUBLIC__/home/br/jQuery.CustomAnimation.js"></script>

    <script src="__PUBLIC__/home/br/yxt.common.js"></script>

    




</body>
</html>
    
