<!-- 头nav -->
	<nav class="navbar navbar-inverse" style="background-color: rgba(0,0,0,0.7);margin-bottom:0px;border-radius:0px;border: 0px;float: left;width: 100%;">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{:U('Index/index')}">{$sys.webname}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav_home"><a href="{:U('Index/index')}">首页</a></li>
            <li class="nav_intro"><a href="{:U('Index/index')}#intro">公司简介</a></li>
            <li class="nav_exp"><a href="{:U('Index/exp')}">真实案例</a></li>
            <li class="nav_news"><a href="{:U('News/index')}">新闻资讯</a></li>
            <li class="nav_contact"><a href="{:U('Index/contact')}">联系我们</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<!-- 头nav -->
